@using Alfateam.Database.Enums;
@using Alfateam.Database.Models
@using Alfateam.Database.Models.Promotions
@using Alfateam.ViewModels
@using CRMWeb.Helpers.Html
@using CRMWeb.Helpers;
@{
    Layout = "_AdminLayoutV2";
}
@model VMWithLanguages<Promotion>

<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Редактирование тарифной карточки
        </h1>
    </div>
</div>
<!-- /.row -->

<div class="row">
    <div class="col-lg-12">

        <form asp-action="UpdatePromotionPOST" asp-controller="Promotions" method="post" enctype="multipart/form-data"  id="form"  role="form">

           <input type="hidden" asp-for="TargetType.Id" value="@Model.TargetType.Id" />
           <input type="hidden" asp-for="TargetType.RightImgPath" value="@Model.TargetType.RightImgPath" />
           <input type="hidden" asp-for="TargetType.CreatedAt" value="@Model.TargetType.CreatedAt.ToString("yyyy-MM-ddTHH:mm")" />

            <div class="form-group">
                <label>Заголовок</label>
                <input class="form-control" asp-for="TargetType.Caption" required placeholder="">
            </div>



          @*  <div class="form-group">
                <label for="" class="">Изображение</label>
                <input type="file" name="file" class="form-control" placeholder="">
            </div>*@

            <div class="form-group">
                <label>Пазл</label>
                <select class="form-control" asp-for="TargetType.PromotionPuzzleType">
                    @Html.Raw(EnumToHtmlHelper<PromotionPuzzleType>.Convert(Model.TargetType.PromotionPuzzleType))
                </select>
            </div>


            <div class="form-group">
                <label>Описание цены</label>
                <input class="form-control"  asp-for="TargetType.Price" required placeholder="">
            </div>


     


            <div class="mb-3 mt-3 position-right">
                <button type="submit" class="button-classic">Сохранить</button>
            </div>

        </form>

    </div>
</div>








@*Пункты описания*@
<script>

    function addDescription() {
        descIndex++;

        descTranslationIndeces[descIndex] = 0;

        let div = document.createElement('div');
        div.className = 'col-lg-12';
        div.id = `description_${descIndex}`;

        div.innerHTML = `<h2></h2>
                        <div class="table-responsive">
                            <button type="button" class="btn btn-primary" onclick="addDescriptionTranslation(${descIndex})">Добавить перевод</button>
                            <button type="button" class="btn btn-danger" onclick="removeDescription(${descIndex})">Удалить описание</button>
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Язык</th>
                                        <th>Значение</th>
                                        <th style="width:80px"></th>
                                    </tr>
                                </thead>
                                <tbody id="descTbody_${descIndex}">
                                    <tr>
                                            <td>
                                                <select class="form-control" name="TargetType.Descriptions[${descIndex}].Texts[0].LanguageId">
                                                    @Html.Raw(ClassesToHtmlHelper<Language>.Convert(Model.Languages))
                                                </select>
                                            </td>
                                            <td><input class="form-control" name="TargetType.Descriptions[${descIndex}].Texts[0].Text" required placeholder=""></td>
                                            <td><button type="button" onclick="removeDescriptionTranslation(${descIndex},event)" class="btn btn-danger">Удалить</button></td>
                                        </tr>
                                </tbody>
                            </table>
                        </div>`;

        document.getElementById('descriptions_block').appendChild(div);
    }

    function removeDescription(index) {

        let description = document.getElementById(`description_${index}`);
        document.getElementById(`descriptions_block`).removeChild(description);

        descTranslationIndeces[index] = undefined;

        descIndex--;
    }

</script>

@*Переводы описания*@
<script>



    function addDescriptionTranslation(descIndex) {
        let tBody = document.getElementById(`descTbody_${descIndex}`);

        descTranslationIndeces[descIndex] = descTranslationIndeces[descIndex] + 1;

        let translationIndex = descTranslationIndeces[descIndex];

        let tr = document.createElement('tr');
        tr.innerHTML = ` <td>
                            <select class="form-control" name="TargetType.Descriptions[${descIndex}].Texts[${translationIndex}].LanguageId">
                                @Html.Raw(ClassesToHtmlHelper<Language>.Convert(Model.Languages))
                            </select>
                        </td>
                        <td><input class="form-control" name="TargetType.Descriptions[${descIndex}].Texts[${translationIndex}].Text" required placeholder=""></td>
                        <td><button type="button" onclick="removeDescriptionTranslation(${descIndex},event)" class="btn btn-danger">Удалить</button></td>`;

        tBody.appendChild(tr);
    }

    function removeDescriptionTranslation(descIndex,event) {
         let tBody = document.getElementById(`descTbody_${descIndex}`);
         tBody.removeChild(event.target.parentNode.parentNode);

         descTranslationIndeces[descIndex] = descTranslationIndeces[descIndex] - 1;
    }

</script>



<script>

    async function onSubmit(event){
       event.preventDefault();
       await fetch("ClearPromotion?id="+@Model.TargetType.Id);
       document.getElementById('form').submit();
    }

</script>