@using Alfateam.CRM.ViewModels.Sales;
@using Alfateam.Database.Enums.CRM.Staff;
@using Alfateam.Database.Models
@using MarkupCreator.Helpers.Converters;
@{
    Layout = "_AdminLayoutV2";
}
@model EmployeesPageVM

<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Работники
        </h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">


        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Штатные</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Аутсорс</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Уволенные</button>
            </li>
        </ul>

        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

                <div class="table-responsive mt-4">
                    <table class="table table-hover" id="tablemanager">
                        <thead class="tableheader">
                            <tr>
                                <th>Id</th>
                                <th>ФИО</th>
                                <th>ЗП</th>
                                <th>Вид занятости</th>
                                <th>Режим ЗП</th>
                                <th>Трудоустроен</th>
                                <th>Платежные данные</th>
                                <th>Действия</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.StaffEmployees) {
                                <tr>
                                    <td>@item.Id</td>
                                    <td>@item.Surname @item.Name @item.Patronymic</td>
                                    <td>@item.Salary</td>
                                    <td>@EnumDescriptionHelper.GetDescription(item.EmployeeType)</td>
                                    <td>@EnumDescriptionHelper.GetDescription(item.PaymentTerm)</td>
                                    <td>@item.EmployeedAt.ToString("dd MMMM yyyy")</td>
                                    <td>@item.PaymentInfo</td>
                                    <td>
                                        <div class="interect">
                                            <a asp-action="UpdateEmployee" asp-controller="Staff" asp-route-id="@item.Id" class="edit"><i class="fa-solid fa-eye"></i></a>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">

                <div class="table-responsive mt-4">
                    <table class="table table-hover" id="tablemanager">
                        <thead class="tableheader">
                            <tr>
                                <th>Id</th>
                                <th>ФИО</th>
                                <th>ЗП</th>
                                <th>Вид занятости</th>
                                <th>Режим ЗП</th>
                                <th>Трудоустроен</th>
                                <th>Платежные данные</th>
                                <th>Действия</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.OutstaffEmployees) {
                                <tr>
                                    <td>@item.Id</td>
                                    <td>@item.Surname @item.Name @item.Patronymic</td>
                                    <td>@item.Salary</td>
                                    <td>@EnumDescriptionHelper.GetDescription(item.EmployeeType)</td>
                                    <td>@EnumDescriptionHelper.GetDescription(item.PaymentTerm)</td>
                                    <td>@item.EmployeedAt.ToString("dd MMMM yyyy")</td>
                                    <td>@item.PaymentInfo</td>
                                    <td>
                                        <div class="interect">
                                            <a asp-action="UpdateEmployee" asp-controller="Staff" asp-route-id="@item.Id" class="edit"><i class="fa-solid fa-eye"></i></a>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

            </div>
            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">

                <div class="table-responsive mt-4">
                    <table class="table table-hover" id="tablemanager">
                        <thead class="tableheader">
                            <tr>
                                <th>Id</th>
                                <th>ФИО</th>
                                <th>ЗП</th>
                                <th>Уволен</th>
                                <th>Платежные данные</th>
                                <th>Описание</th>
                                <th>Действия</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.FiredEmployees) {
                                <tr>
                                    <td>@item.Id</td>
                                    <td>@item.Surname @item.Name @item.Patronymic</td>
                                    <td>@item.Salary</td>
                                    <td>@item.FiredAt?.ToString("dd MMMM yyyy")</td>
                                    <td>@item.PaymentInfo</td>
                                    <td>@item.Description</td>
                                    <td>
                                        <div class="interect">
                                            <a asp-action="UpdateEmployee" asp-controller="Staff" asp-route-id="@item.Id" class="edit"><i class="fa-solid fa-eye"></i></a>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

            </div>
        </div>

        <div class="mb-3 position-right">
            <a asp-action="CreateEmployee" asp-controller="Staff" class="button-classic">Добавить</a>
        </div>

    @*    <script>
            $(document).ready(function () {
                $('#tablemanager').DataTable();
            });
        </script>*@


        
    </div>
</div>
<!-- /.row -->
