@using Alfateam.Database.Models
@using Alfateam.Database.Models.SitePagesTexts
@using Alfateam.ViewModels
@using CRMWeb.Helpers.Html
@{
    Layout = "_AdminLayout";
}
@model VMWithLanguages<ErrorPages>

<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Текста страниц ошибок
        </h1>
    </div>
</div>
<!-- /.row -->

<div class="row">
    <div class="col-lg-12">

        <form asp-action="UpdateErrorPages" asp-controller="SiteTexts" method="post" enctype="multipart/form-data" id="form" onsubmit="onSubmit(event)" role="form">

            <input type="hidden" asp-for="TargetType.Id" value="@Model.TargetType.Id" />

            <div class="col-lg-6">
                <h4>404 страница</h4><br/>
                <button type="button" class="btn btn-primary" onclick="addTranslation('TargetType.Texts404','err_404_tBody')">Добавить перевод</button>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Язык</th>
                                <th>Значение</th>
                                <th style="width:80px"></th>
                            </tr>
                        </thead>
                        <tbody id="err_404_tBody" data-index="@(Model.TargetType.Texts404.Count-1)">
                            @for (var i = 0; i < Model.TargetType.Texts404.Count; i++)
                            {
                                var translation = Model.TargetType.Texts404[i];
                                <tr data-id="@translation.Id">
                                    <td>
                                        <select class="form-control" name="TargetType.Texts404[@i].LanguageId">
                                            @Html.Raw(ClassesToHtmlHelper<Language>.Convert(Model.Languages,translation.Language))
                                        </select>
                                    </td>
                                    <td><input class="form-control" name="TargetType.Texts404[@i].Text" value="@translation.Text" required placeholder=""></td>
                                    <td><button type="button" onclick="deleteTranslation('err_404_tBody',event)" class="btn btn-danger">Удалить</button></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col-lg-6">
                <h4>403 страница</h4><br/>
                <button type="button" class="btn btn-primary" onclick="addTranslation('TargetType.Texts403','err_403_tBody')">Добавить перевод</button>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Язык</th>
                                <th>Значение</th>
                                <th style="width:80px"></th>
                            </tr>
                        </thead>
                        <tbody id="err_403_tBody" data-index="@(Model.TargetType.Texts403.Count-1)">
                            @for (var i = 0; i < Model.TargetType.Texts403.Count; i++)
                            {
                                var translation = Model.TargetType.Texts403[i];
                                <tr data-id="@translation.Id">
                                    <td>
                                        <select class="form-control" name="TargetType.Texts403[@i].LanguageId">
                                            @Html.Raw(ClassesToHtmlHelper<Language>.Convert(Model.Languages,translation.Language))
                                        </select>
                                    </td>
                                    <td><input class="form-control" name="TargetType.Texts403[@i].Text" value="@translation.Text" required placeholder=""></td>
                                    <td><button type="button" onclick="deleteTranslation('err_403_tBody',event)" class="btn btn-danger">Удалить</button></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

             <div class="col-lg-6">
                <h4>Хуевая страница - заголовок</h4><br/>
                <button type="button" class="btn btn-primary" onclick="addTranslation('TargetType.TextsNuhuyaTitle','hui_title_tBody')">Добавить перевод</button>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Язык</th>
                                <th>Значение</th>
                                <th style="width:80px"></th>
                            </tr>
                        </thead>
                        <tbody id="hui_title_tBody" data-index="@(Model.TargetType.TextsNuhuyaTitle.Count-1)">
                            @for (var i = 0; i < Model.TargetType.TextsNuhuyaTitle.Count; i++)
                            {
                                var translation = Model.TargetType.TextsNuhuyaTitle[i];
                                <tr data-id="@translation.Id">
                                    <td>
                                        <select class="form-control" name="TargetType.TextsNuhuyaTitle[@i].LanguageId">
                                            @Html.Raw(ClassesToHtmlHelper<Language>.Convert(Model.Languages,translation.Language))
                                        </select>
                                    </td>
                                    <td><input class="form-control" name="TargetType.TextsNuhuyaTitle[@i].Text" value="@translation.Text" required placeholder=""></td>
                                    <td><button type="button" onclick="deleteTranslation('hui_title_tBody',event)" class="btn btn-danger">Удалить</button></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col-lg-6">
                <h4>Хуевая страница - описание</h4><br/>
                <button type="button" class="btn btn-primary" onclick="addTranslation('TargetType.TextsNuhuyaDescription','hui_desc_tBody')">Добавить перевод</button>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Язык</th>
                                <th>Значение</th>
                                <th style="width:80px"></th>
                            </tr>
                        </thead>
                        <tbody id="hui_desc_tBody" data-index="@(Model.TargetType.TextsNuhuyaDescription.Count-1)">
                            @for (var i = 0; i < Model.TargetType.TextsNuhuyaDescription.Count; i++)
                            {
                                var translation = Model.TargetType.TextsNuhuyaDescription[i];
                                <tr data-id="@translation.Id">
                                    <td>
                                        <select class="form-control" name="TargetType.TextsNuhuyaDescription[@i].LanguageId">
                                            @Html.Raw(ClassesToHtmlHelper<Language>.Convert(Model.Languages,translation.Language))
                                        </select>
                                    </td>
                                    <td><input class="form-control" name="TargetType.TextsNuhuyaDescription[@i].Text" value="@translation.Text" required placeholder=""></td>
                                    <td><button type="button" onclick="deleteTranslation('hui_desc_tBody',event)" class="btn btn-danger">Удалить</button></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

            <button type="submit" class="btn btn-default">Сохранить</button>

        </form>

    </div>
</div>

@*Переводы*@
<script>
    
    function addTranslation(fieldName,tBodyId){

        let tBody = document.getElementById(tBodyId);

        let index = new Number(tBody.getAttribute('data-index'));
        index++;
        tBody.setAttribute('data-index', index);

        let tr = document.createElement("tr");
        tr.innerHTML = `  <td>
                              <select class="form-control" name="${fieldName}[${index}].LanguageId">
                                  @Html.Raw(ClassesToHtmlHelper<Language>.Convert(Model.Languages))
                              </select>
                          </td>
                          <td><input class="form-control" name="${fieldName}[${index}].Text" required placeholder=""></td>
                          <td><button type="button" onclick="deleteTranslation(${tBodyId},event)" class="btn btn-danger">Удалить</button></td>`;

        tBody.appendChild(tr);

    }

    function deleteTranslation(tBodyId,event) {

         let tBody = document.getElementById(tBodyId);

         let index = new Number(tBody.getAttribute('data-index'));
         index--;
         tBody.setAttribute('data-index', index);

         tBody.removeChild(event.target.parentNode.parentNode);
    }

</script>

<script>

    async function onSubmit(event){
        event.preventDefault();
        await fetch(document.location.origin +"/Admin/ClearErrorPages?id="+@Model.TargetType.Id);
        document.getElementById('form').submit();
    }

</script>