@using Alfateam.Database.Models
@using Alfateam.Database.Models.SitePagesTexts
@using Alfateam.ViewModels
@using CRMWeb.Helpers.Html
@{
    Layout = "_AdminLayout";
}
@model VMWithLanguages<LandingTexts>

<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Текста стартовой страницы
        </h1>
    </div>
</div>
<!-- /.row -->

<div class="row">
    <div class="col-lg-12">

        <form asp-action="UpdateLandingTexts" asp-controller="SiteTexts" method="post" enctype="multipart/form-data" id="form" onsubmit="onSubmit(event)" role="form">

            <input type="hidden" asp-for="TargetType.Id" value="@Model.TargetType.Id" />

            <div class="col-lg-6">
                <h4>ЗАПУСТИ СВОЙ БИЗНЕС</h4><br/>
                <button type="button" class="btn btn-primary" onclick="addTranslation('TargetType.StartBusiness','StartBusiness_tBody')">Добавить перевод</button>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Язык</th>
                                <th>Значение</th>
                                <th style="width:80px"></th>
                            </tr>
                        </thead>
                        <tbody id="StartBusiness_tBody" data-index="@(Model.TargetType.StartBusiness.Count-1)">
                            @for (var i = 0; i < Model.TargetType.StartBusiness.Count; i++)
                            {
                                var translation = Model.TargetType.StartBusiness[i];
                                <tr data-id="@translation.Id">
                                    <td>
                                        <select class="form-control" name="TargetType.StartBusiness[@i].LanguageId">
                                            @Html.Raw(ClassesToHtmlHelper<Language>.Convert(Model.Languages,translation.Language))
                                        </select>
                                    </td>
                                    <td><input class="form-control" name="TargetType.StartBusiness[@i].Text" value="@translation.Text" required placeholder=""></td>
                                    <td><button type="button" onclick="deleteTranslation('StartBusiness_tBody',event)" class="btn btn-danger">Удалить</button></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>



             <div class="col-lg-6">
                <h4>ЗАПУСТИ СВОЙ БИЗНЕС - ОПИСАНИЕ</h4><br/>
                <button type="button" class="btn btn-primary" onclick="addTranslation('TargetType.StartBusinessDescriptions','StartBusinessDescriptions_tBody')">Добавить перевод</button>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Язык</th>
                                <th>Значение</th>
                                <th style="width:80px"></th>
                            </tr>
                        </thead>
                        <tbody id="StartBusinessDescriptions_tBody" data-index="@(Model.TargetType.StartBusinessDescriptions.Count-1)">
                            @for (var i = 0; i < Model.TargetType.StartBusinessDescriptions.Count; i++)
                            {
                                var translation = Model.TargetType.StartBusinessDescriptions[i];
                                <tr data-id="@translation.Id">
                                    <td>
                                        <select class="form-control" name="TargetType.StartBusinessDescriptions[@i].LanguageId">
                                            @Html.Raw(ClassesToHtmlHelper<Language>.Convert(Model.Languages,translation.Language))
                                        </select>
                                    </td>
                                    <td><input class="form-control" name="TargetType.StartBusinessDescriptions[@i].Text" value="@translation.Text" required placeholder=""></td>
                                    <td><button type="button" onclick="deleteTranslation('StartBusinessDescriptions_tBody',event)" class="btn btn-danger">Удалить</button></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

             <div class="col-lg-6">
                <h4>Заказать сейчас</h4><br/>
                <button type="button" class="btn btn-primary" onclick="addTranslation('TargetType.OrderNow','OrderNow_tBody')">Добавить перевод</button>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Язык</th>
                                <th>Значение</th>
                                <th style="width:80px"></th>
                            </tr>
                        </thead>
                        <tbody id="OrderNow_tBody" data-index="@(Model.TargetType.OrderNow.Count-1)">
                            @for (var i = 0; i < Model.TargetType.OrderNow.Count; i++)
                            {
                                var translation = Model.TargetType.OrderNow[i];
                                <tr data-id="@translation.Id">
                                    <td>
                                        <select class="form-control" name="TargetType.OrderNow[@i].LanguageId">
                                            @Html.Raw(ClassesToHtmlHelper<Language>.Convert(Model.Languages,translation.Language))
                                        </select>
                                    </td>
                                    <td><input class="form-control" name="TargetType.OrderNow[@i].Text" value="@translation.Text" required placeholder=""></td>
                                    <td><button type="button" onclick="deleteTranslation('OrderNow_tBody',event)" class="btn btn-danger">Удалить</button></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col-lg-6">
                <h4>Мы принимаем (платежные средства)</h4><br/>
                <button type="button" class="btn btn-primary" onclick="addTranslation('TargetType.WeAcceptPayments','WeAcceptPayments_tBody')">Добавить перевод</button>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Язык</th>
                                <th>Значение</th>
                                <th style="width:80px"></th>
                            </tr>
                        </thead>
                        <tbody id="WeAcceptPayments_tBody" data-index="@(Model.TargetType.WeAcceptPayments.Count-1)">
                            @for (var i = 0; i < Model.TargetType.WeAcceptPayments.Count; i++)
                            {
                                var translation = Model.TargetType.WeAcceptPayments[i];
                                <tr data-id="@translation.Id">
                                    <td>
                                        <select class="form-control" name="TargetType.WeAcceptPayments[@i].LanguageId">
                                            @Html.Raw(ClassesToHtmlHelper<Language>.Convert(Model.Languages,translation.Language))
                                        </select>
                                    </td>
                                    <td><input class="form-control" name="TargetType.WeAcceptPayments[@i].Text" value="@translation.Text" required placeholder=""></td>
                                    <td><button type="button" onclick="deleteTranslation('WeAcceptPayments_tBody',event)" class="btn btn-danger">Удалить</button></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

             <div class="col-lg-6">
                <h4>НАШИ РАБОТЫ</h4><br/>
                <button type="button" class="btn btn-primary" onclick="addTranslation('TargetType.OurPortfolios','OurPortfolios_tBody')">Добавить перевод</button>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Язык</th>
                                <th>Значение</th>
                                <th style="width:80px"></th>
                            </tr>
                        </thead>
                        <tbody id="OurPortfolios_tBody" data-index="@(Model.TargetType.OurPortfolios.Count-1)">
                            @for (var i = 0; i < Model.TargetType.OurPortfolios.Count; i++)
                            {
                                var translation = Model.TargetType.OurPortfolios[i];
                                <tr data-id="@translation.Id">
                                    <td>
                                        <select class="form-control" name="TargetType.OurPortfolios[@i].LanguageId">
                                            @Html.Raw(ClassesToHtmlHelper<Language>.Convert(Model.Languages,translation.Language))
                                        </select>
                                    </td>
                                    <td><input class="form-control" name="TargetType.OurPortfolios[@i].Text" value="@translation.Text" required placeholder=""></td>
                                    <td><button type="button" onclick="deleteTranslation('OurPortfolios_tBody',event)" class="btn btn-danger">Удалить</button></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

             <div class="col-lg-6">
                <h4>Последние выполненые заказы</h4><br/>
                <button type="button" class="btn btn-primary" onclick="addTranslation('TargetType.OurLastPortfolios','OurLastPortfolios_tBody')">Добавить перевод</button>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Язык</th>
                                <th>Значение</th>
                                <th style="width:80px"></th>
                            </tr>
                        </thead>
                        <tbody id="OurLastPortfolios_tBody" data-index="@(Model.TargetType.OurLastPortfolios.Count-1)">
                            @for (var i = 0; i < Model.TargetType.OurLastPortfolios.Count; i++)
                            {
                                var translation = Model.TargetType.OurLastPortfolios[i];
                                <tr data-id="@translation.Id">
                                    <td>
                                        <select class="form-control" name="TargetType.OurLastPortfolios[@i].LanguageId">
                                            @Html.Raw(ClassesToHtmlHelper<Language>.Convert(Model.Languages,translation.Language))
                                        </select>
                                    </td>
                                    <td><input class="form-control" name="TargetType.OurLastPortfolios[@i].Text" value="@translation.Text" required placeholder=""></td>
                                    <td><button type="button" onclick="deleteTranslation('OurLastPortfolios_tBody',event)" class="btn btn-danger">Удалить</button></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col-lg-6">
                <h4>Больше работ</h4><br/>
                <button type="button" class="btn btn-primary" onclick="addTranslation('TargetType.MorePortfolios','MorePortfolios_tBody')">Добавить перевод</button>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Язык</th>
                                <th>Значение</th>
                                <th style="width:80px"></th>
                            </tr>
                        </thead>
                        <tbody id="MorePortfolios_tBody" data-index="@(Model.TargetType.MorePortfolios.Count-1)">
                            @for (var i = 0; i < Model.TargetType.MorePortfolios.Count; i++)
                            {
                                var translation = Model.TargetType.MorePortfolios[i];
                                <tr data-id="@translation.Id">
                                    <td>
                                        <select class="form-control" name="TargetType.MorePortfolios[@i].LanguageId">
                                            @Html.Raw(ClassesToHtmlHelper<Language>.Convert(Model.Languages,translation.Language))
                                        </select>
                                    </td>
                                    <td><input class="form-control" name="TargetType.MorePortfolios[@i].Text" value="@translation.Text" required placeholder=""></td>
                                    <td><button type="button" onclick="deleteTranslation('MorePortfolios_tBody',event)" class="btn btn-danger">Удалить</button></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

             <div class="col-lg-6">
                <h4>НОВОСТИ</h4><br/>
                <button type="button" class="btn btn-primary" onclick="addTranslation('TargetType.News','News_tBody')">Добавить перевод</button>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Язык</th>
                                <th>Значение</th>
                                <th style="width:80px"></th>
                            </tr>
                        </thead>
                        <tbody id="News_tBody" data-index="@(Model.TargetType.News.Count-1)">
                            @for (var i = 0; i < Model.TargetType.News.Count; i++)
                            {
                                var translation = Model.TargetType.News[i];
                                <tr data-id="@translation.Id">
                                    <td>
                                        <select class="form-control" name="TargetType.News[@i].LanguageId">
                                            @Html.Raw(ClassesToHtmlHelper<Language>.Convert(Model.Languages,translation.Language))
                                        </select>
                                    </td>
                                    <td><input class="form-control" name="TargetType.News[@i].Text" value="@translation.Text" required placeholder=""></td>
                                    <td><button type="button" onclick="deleteTranslation('News_tBody',event)" class="btn btn-danger">Удалить</button></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col-lg-6">
                <h4>Узнавайте о последних новостях</h4><br/>
                <button type="button" class="btn btn-primary" onclick="addTranslation('TargetType.DiscoverNews','DiscoverNews_tBody')">Добавить перевод</button>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Язык</th>
                                <th>Значение</th>
                                <th style="width:80px"></th>
                            </tr>
                        </thead>
                        <tbody id="DiscoverNews_tBody" data-index="@(Model.TargetType.DiscoverNews.Count-1)">
                            @for (var i = 0; i < Model.TargetType.DiscoverNews.Count; i++)
                            {
                                var translation = Model.TargetType.DiscoverNews[i];
                                <tr data-id="@translation.Id">
                                    <td>
                                        <select class="form-control" name="TargetType.DiscoverNews[@i].LanguageId">
                                            @Html.Raw(ClassesToHtmlHelper<Language>.Convert(Model.Languages,translation.Language))
                                        </select>
                                    </td>
                                    <td><input class="form-control" name="TargetType.DiscoverNews[@i].Text" value="@translation.Text" required placeholder=""></td>
                                    <td><button type="button" onclick="deleteTranslation('DiscoverNews_tBody',event)" class="btn btn-danger">Удалить</button></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

             <div class="col-lg-6">
                <h4>Подробнее - новости</h4><br/>
                <button type="button" class="btn btn-primary" onclick="addTranslation('TargetType.NewsDetails','NewsDetails_tBody')">Добавить перевод</button>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Язык</th>
                                <th>Значение</th>
                                <th style="width:80px"></th>
                            </tr>
                        </thead>
                        <tbody id="NewsDetails_tBody" data-index="@(Model.TargetType.NewsDetails.Count-1)">
                            @for (var i = 0; i < Model.TargetType.NewsDetails.Count; i++)
                            {
                                var translation = Model.TargetType.NewsDetails[i];
                                <tr data-id="@translation.Id">
                                    <td>
                                        <select class="form-control" name="TargetType.NewsDetails[@i].LanguageId">
                                            @Html.Raw(ClassesToHtmlHelper<Language>.Convert(Model.Languages,translation.Language))
                                        </select>
                                    </td>
                                    <td><input class="form-control" name="TargetType.NewsDetails[@i].Text" value="@translation.Text" required placeholder=""></td>
                                    <td><button type="button" onclick="deleteTranslation('NewsDetails_tBody',event)" class="btn btn-danger">Удалить</button></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

             <div class="col-lg-6">
                <h4>БОЛЬШЕ НОВОСТЕЙ</h4><br/>
                <button type="button" class="btn btn-primary" onclick="addTranslation('TargetType.NewsMore','NewsMore_tBody')">Добавить перевод</button>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Язык</th>
                                <th>Значение</th>
                                <th style="width:80px"></th>
                            </tr>
                        </thead>
                        <tbody id="NewsMore_tBody" data-index="@(Model.TargetType.NewsMore.Count-1)">
                            @for (var i = 0; i < Model.TargetType.NewsMore.Count; i++)
                            {
                                var translation = Model.TargetType.NewsMore[i];
                                <tr data-id="@translation.Id">
                                    <td>
                                        <select class="form-control" name="TargetType.NewsMore[@i].LanguageId">
                                            @Html.Raw(ClassesToHtmlHelper<Language>.Convert(Model.Languages,translation.Language))
                                        </select>
                                    </td>
                                    <td><input class="form-control" name="TargetType.NewsMore[@i].Text" value="@translation.Text" required placeholder=""></td>
                                    <td><button type="button" onclick="deleteTranslation('NewsMore_tBody',event)" class="btn btn-danger">Удалить</button></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

             <div class="col-lg-6">
                <h4>ЗАЯВКА</h4><br/>
                <button type="button" class="btn btn-primary" onclick="addTranslation('TargetType.Order','Order_tBody')">Добавить перевод</button>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Язык</th>
                                <th>Значение</th>
                                <th style="width:80px"></th>
                            </tr>
                        </thead>
                        <tbody id="Order_tBody" data-index="@(Model.TargetType.Order.Count-1)">
                            @for (var i = 0; i < Model.TargetType.Order.Count; i++)
                            {
                                var translation = Model.TargetType.Order[i];
                                <tr data-id="@translation.Id">
                                    <td>
                                        <select class="form-control" name="TargetType.Order[@i].LanguageId">
                                            @Html.Raw(ClassesToHtmlHelper<Language>.Convert(Model.Languages,translation.Language))
                                        </select>
                                    </td>
                                    <td><input class="form-control" name="TargetType.Order[@i].Text" value="@translation.Text" required placeholder=""></td>
                                    <td><button type="button" onclick="deleteTranslation('Order_tBody',event)" class="btn btn-danger">Удалить</button></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>


            <div class="col-lg-6">
                <h4>Оставьте заявку и мы вам ответим</h4><br/>
                <button type="button" class="btn btn-primary" onclick="addTranslation('TargetType.MakeOrder','MakeOrder_tBody')">Добавить перевод</button>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Язык</th>
                                <th>Значение</th>
                                <th style="width:80px"></th>
                            </tr>
                        </thead>
                        <tbody id="MakeOrder_tBody" data-index="@(Model.TargetType.MakeOrder.Count-1)">
                            @for (var i = 0; i < Model.TargetType.MakeOrder.Count; i++)
                            {
                                var translation = Model.TargetType.MakeOrder[i];
                                <tr data-id="@translation.Id">
                                    <td>
                                        <select class="form-control" name="TargetType.MakeOrder[@i].LanguageId">
                                            @Html.Raw(ClassesToHtmlHelper<Language>.Convert(Model.Languages,translation.Language))
                                        </select>
                                    </td>
                                    <td><input class="form-control" name="TargetType.MakeOrder[@i].Text" value="@translation.Text" required placeholder=""></td>
                                    <td><button type="button" onclick="deleteTranslation('MakeOrder_tBody',event)" class="btn btn-danger">Удалить</button></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col-lg-6">
                <h4>Как к Вам обращаться?</h4><br/>
                <button type="button" class="btn btn-primary" onclick="addTranslation('TargetType.YourName','YourName_tBody')">Добавить перевод</button>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Язык</th>
                                <th>Значение</th>
                                <th style="width:80px"></th>
                            </tr>
                        </thead>
                        <tbody id="YourName_tBody" data-index="@(Model.TargetType.YourName.Count-1)">
                            @for (var i = 0; i < Model.TargetType.YourName.Count; i++)
                            {
                                var translation = Model.TargetType.YourName[i];
                                <tr data-id="@translation.Id">
                                    <td>
                                        <select class="form-control" name="TargetType.YourName[@i].LanguageId">
                                            @Html.Raw(ClassesToHtmlHelper<Language>.Convert(Model.Languages,translation.Language))
                                        </select>
                                    </td>
                                    <td><input class="form-control" name="TargetType.YourName[@i].Text" value="@translation.Text" required placeholder=""></td>
                                    <td><button type="button" onclick="deleteTranslation('YourName_tBody',event)" class="btn btn-danger">Удалить</button></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

             <div class="col-lg-6">
                <h4>Название вашей компании</h4><br/>
                <button type="button" class="btn btn-primary" onclick="addTranslation('TargetType.CompanyName','CompanyName_tBody')">Добавить перевод</button>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Язык</th>
                                <th>Значение</th>
                                <th style="width:80px"></th>
                            </tr>
                        </thead>
                        <tbody id="CompanyName_tBody" data-index="@(Model.TargetType.CompanyName.Count-1)">
                            @for (var i = 0; i < Model.TargetType.CompanyName.Count; i++)
                            {
                                var translation = Model.TargetType.CompanyName[i];
                                <tr data-id="@translation.Id">
                                    <td>
                                        <select class="form-control" name="TargetType.CompanyName[@i].LanguageId">
                                            @Html.Raw(ClassesToHtmlHelper<Language>.Convert(Model.Languages,translation.Language))
                                        </select>
                                    </td>
                                    <td><input class="form-control" name="TargetType.CompanyName[@i].Text" value="@translation.Text" required placeholder=""></td>
                                    <td><button type="button" onclick="deleteTranslation('CompanyName_tBody',event)" class="btn btn-danger">Удалить</button></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col-lg-6">
                <h4>Опишите задачу</h4><br/>
                <button type="button" class="btn btn-primary" onclick="addTranslation('TargetType.DescribeJob','DescribeJob_tBody')">Добавить перевод</button>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Язык</th>
                                <th>Значение</th>
                                <th style="width:80px"></th>
                            </tr>
                        </thead>
                        <tbody id="DescribeJob_tBody" data-index="@(Model.TargetType.DescribeJob.Count-1)">
                            @for (var i = 0; i < Model.TargetType.DescribeJob.Count; i++)
                            {
                                var translation = Model.TargetType.DescribeJob[i];
                                <tr data-id="@translation.Id">
                                    <td>
                                        <select class="form-control" name="TargetType.DescribeJob[@i].LanguageId">
                                            @Html.Raw(ClassesToHtmlHelper<Language>.Convert(Model.Languages,translation.Language))
                                        </select>
                                    </td>
                                    <td><input class="form-control" name="TargetType.DescribeJob[@i].Text" value="@translation.Text" required placeholder=""></td>
                                    <td><button type="button" onclick="deleteTranslation('DescribeJob_tBody',event)" class="btn btn-danger">Удалить</button></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

              <div class="col-lg-6">
                <h4>Опишите задачу  - плейсхолдер</h4><br/>
                <button type="button" class="btn btn-primary" onclick="addTranslation('TargetType.DescribeJobPlaceholder','DescribeJobPlaceholder_tBody')">Добавить перевод</button>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Язык</th>
                                <th>Значение</th>
                                <th style="width:80px"></th>
                            </tr>
                        </thead>
                        <tbody id="DescribeJobPlaceholder_tBody" data-index="@(Model.TargetType.DescribeJobPlaceholder.Count-1)">
                            @for (var i = 0; i < Model.TargetType.DescribeJobPlaceholder.Count; i++)
                            {
                                var translation = Model.TargetType.DescribeJobPlaceholder[i];
                                <tr data-id="@translation.Id">
                                    <td>
                                        <select class="form-control" name="TargetType.DescribeJobPlaceholder[@i].LanguageId">
                                            @Html.Raw(ClassesToHtmlHelper<Language>.Convert(Model.Languages,translation.Language))
                                        </select>
                                    </td>
                                    <td><input class="form-control" name="TargetType.DescribeJobPlaceholder[@i].Text" value="@translation.Text" required placeholder=""></td>
                                    <td><button type="button" onclick="deleteTranslation('DescribeJobPlaceholder_tBody',event)" class="btn btn-danger">Удалить</button></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col-lg-6">
                <h4>Ваш бюджет</h4><br/>
                <button type="button" class="btn btn-primary" onclick="addTranslation('TargetType.YourBudget','YourBudget_tBody')">Добавить перевод</button>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Язык</th>
                                <th>Значение</th>
                                <th style="width:80px"></th>
                            </tr>
                        </thead>
                        <tbody id="YourBudget_tBody" data-index="@(Model.TargetType.YourBudget.Count-1)">
                            @for (var i = 0; i < Model.TargetType.YourBudget.Count; i++)
                            {
                                var translation = Model.TargetType.YourBudget[i];
                                <tr data-id="@translation.Id">
                                    <td>
                                        <select class="form-control" name="TargetType.YourBudget[@i].LanguageId">
                                            @Html.Raw(ClassesToHtmlHelper<Language>.Convert(Model.Languages,translation.Language))
                                        </select>
                                    </td>
                                    <td><input class="form-control" name="TargetType.YourBudget[@i].Text" value="@translation.Text" required placeholder=""></td>
                                    <td><button type="button" onclick="deleteTranslation('YourBudget_tBody',event)" class="btn btn-danger">Удалить</button></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col-lg-6">
                <h4>Контакты для связи</h4><br/>
                <button type="button" class="btn btn-primary" onclick="addTranslation('TargetType.Contacts','Contacts_tBody')">Добавить перевод</button>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Язык</th>
                                <th>Значение</th>
                                <th style="width:80px"></th>
                            </tr>
                        </thead>
                        <tbody id="Contacts_tBody" data-index="@(Model.TargetType.Contacts.Count-1)">
                            @for (var i = 0; i < Model.TargetType.Contacts.Count; i++)
                            {
                                var translation = Model.TargetType.Contacts[i];
                                <tr data-id="@translation.Id">
                                    <td>
                                        <select class="form-control" name="TargetType.Contacts[@i].LanguageId">
                                            @Html.Raw(ClassesToHtmlHelper<Language>.Convert(Model.Languages,translation.Language))
                                        </select>
                                    </td>
                                    <td><input class="form-control" name="TargetType.Contacts[@i].Text" value="@translation.Text" required placeholder=""></td>
                                    <td><button type="button" onclick="deleteTranslation('Contacts_tBody',event)" class="btn btn-danger">Удалить</button></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col-lg-6">
                <h4>Контакты для связи - плейсхолдер</h4><br/>
                <button type="button" class="btn btn-primary" onclick="addTranslation('TargetType.ContactsPlaceholder','ContactsPlaceholder_tBody')">Добавить перевод</button>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Язык</th>
                                <th>Значение</th>
                                <th style="width:80px"></th>
                            </tr>
                        </thead>
                        <tbody id="ContactsPlaceholder_tBody" data-index="@(Model.TargetType.ContactsPlaceholder.Count-1)">
                            @for (var i = 0; i < Model.TargetType.ContactsPlaceholder.Count; i++)
                            {
                                var translation = Model.TargetType.ContactsPlaceholder[i];
                                <tr data-id="@translation.Id">
                                    <td>
                                        <select class="form-control" name="TargetType.ContactsPlaceholder[@i].LanguageId">
                                            @Html.Raw(ClassesToHtmlHelper<Language>.Convert(Model.Languages,translation.Language))
                                        </select>
                                    </td>
                                    <td><input class="form-control" name="TargetType.ContactsPlaceholder[@i].Text" value="@translation.Text" required placeholder=""></td>
                                    <td><button type="button" onclick="deleteTranslation('ContactsPlaceholder_tBody',event)" class="btn btn-danger">Удалить</button></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

          
              <div class="col-lg-6">
                <h4>Отправить</h4><br/>
                <button type="button" class="btn btn-primary" onclick="addTranslation('TargetType.Send','Send_tBody')">Добавить перевод</button>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Язык</th>
                                <th>Значение</th>
                                <th style="width:80px"></th>
                            </tr>
                        </thead>
                        <tbody id="Send_tBody" data-index="@(Model.TargetType.Send.Count-1)">
                            @for (var i = 0; i < Model.TargetType.Send.Count; i++)
                            {
                                var translation = Model.TargetType.Send[i];
                                <tr data-id="@translation.Id">
                                    <td>
                                        <select class="form-control" name="TargetType.Send[@i].LanguageId">
                                            @Html.Raw(ClassesToHtmlHelper<Language>.Convert(Model.Languages,translation.Language))
                                        </select>
                                    </td>
                                    <td><input class="form-control" name="TargetType.Send[@i].Text" value="@translation.Text" required placeholder=""></td>
                                    <td><button type="button" onclick="deleteTranslation('Send_tBody',event)" class="btn btn-danger">Удалить</button></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

             <div class="col-lg-6">
                <h4>Ваша заявка принята</h4><br/>
                <button type="button" class="btn btn-primary" onclick="addTranslation('TargetType.OrderCompleted','OrderCompleted_tBody')">Добавить перевод</button>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Язык</th>
                                <th>Значение</th>
                                <th style="width:80px"></th>
                            </tr>
                        </thead>
                        <tbody id="OrderCompleted_tBody" data-index="@(Model.TargetType.OrderCompleted.Count-1)">
                            @for (var i = 0; i < Model.TargetType.OrderCompleted.Count; i++)
                            {
                                var translation = Model.TargetType.OrderCompleted[i];
                                <tr data-id="@translation.Id">
                                    <td>
                                        <select class="form-control" name="TargetType.OrderCompleted[@i].LanguageId">
                                            @Html.Raw(ClassesToHtmlHelper<Language>.Convert(Model.Languages,translation.Language))
                                        </select>
                                    </td>
                                    <td><input class="form-control" name="TargetType.OrderCompleted[@i].Text" value="@translation.Text" required placeholder=""></td>
                                    <td><button type="button" onclick="deleteTranslation('OrderCompleted_tBody',event)" class="btn btn-danger">Удалить</button></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

            <button type="submit" class="btn btn-default">Сохранить</button>

        </form>

    </div>
</div>


@*Переводы*@
<script>
    
    function addTranslation(fieldName,tBodyId){

        let tBody = document.getElementById(tBodyId);

        let index = new Number(tBody.getAttribute('data-index'));
        index++;
        tBody.setAttribute('data-index', index);

        let tr = document.createElement("tr");
        tr.innerHTML = `  <td>
                              <select class="form-control" name="${fieldName}[${index}].LanguageId">
                                  @Html.Raw(ClassesToHtmlHelper<Language>.Convert(Model.Languages))
                              </select>
                          </td>
                          <td><input class="form-control" name="${fieldName}[${index}].Text" required placeholder=""></td>
                          <td><button type="button" onclick="deleteTranslation('${tBodyId}',event)" class="btn btn-danger">Удалить</button></td>`;

        tBody.appendChild(tr);

    }

    function deleteTranslation(tBodyId,event) {

         let tBody = document.getElementById(tBodyId);

         let index = new Number(tBody.getAttribute('data-index'));
         index--;
         tBody.setAttribute('data-index', index);

         tBody.removeChild(event.target.parentNode.parentNode);
    }

</script>

<script>

    async function onSubmit(event){
        event.preventDefault();
        await fetch(document.location.origin +"/Admin/ClearLandingTexts?id="+@Model.TargetType.Id);
        document.getElementById('form').submit();
    }

</script>