@using Alfateam.Helpers
@using Alfateam.ViewModels
@using Alfateam.ViewModels.Home
@{
    ViewData["Title"] = "Home Page";
}
@model NewsVM

@{
    var currentLang = DBHelper.GetCurrentLanguage(User);
    var generalTexts = DBHelper.GetGeneralTexts();
}

   <div class="container content-top-page">
        <div class="row">

            @foreach (var item in Model.Posts)
            {
                <div class="col-md-6">
                    <div class="news-bl">
                        <div class="news-bl-img" style="background:url('@item.ImgPath');background-size: 100% 101%;"></div>
                        <div class="news-bl-content">
                            <div class="news-bl-title">@LocalizationHelper.GetLocalizedString(item.Captions,currentLang.Code)</div>
                            <div class="news-bl-text">
                                 @LocalizationHelper.GetLocalizedString(item.Contents,currentLang.Code)
                            </div>
                            <div class="news-bl-date">
                                @LocalizationHelper.GetLocalizedString(generalTexts.PublishedAt,currentLang.Code) @item.CreatedAt.ToString("dd MMMM yyyy") в @item.CreatedAt.ToString("HH:mm")
                            </div>
                            <a asp-action="NewsPage" asp-controller="Home" asp-route-id="@item.Id" class="right"></a>
                        </div>
                    </div>
                </div>
            }

        </div>

        <div class="row">
            <nav aria-label="Pagination">
                <ul class="pagination justify-content-center">
                    @if(Model.CurrentPage>1)
                    {
                       <li class="page-item">
                            <a class="page-link"asp-action="News" asp-controller="Home" asp-route-page="@(Model.CurrentPage-1)" aria-label="Previous">
                              <span aria-hidden="true">&laquo;</span>
                            </a>
                       </li>
                    }
                    @for(int i = 1; i < Model.PagesCount + 1; i++)
                    {
                       <li class="page-item"><a asp-action="News" asp-controller="Home" asp-route-page="@i" class="page-link">@i</a></li>
                    }
                    @if(Model.CurrentPage < Model.PagesCount && Model.PagesCount > 0)
                    {
                       <li class="page-item">
                            <a class="page-link" asp-action="News" asp-controller="Home" asp-route-page="@(Model.CurrentPage+1)" aria-label="Next">
                              <span aria-hidden="true">&raquo;</span>
                            </a>
                       </li>
                    }
             
                </ul>
            </nav>
        </div>
    </div>