@using Alfateam.Helpers
@using Alfateam.Services;
@using Alfateam.ViewModels
@using Alfateam.ViewModels.Home
@{
    ViewData["Title"] = "Home Page";
    ViewData["HideMakeOrderBtn"] = true;
}
@model PortfoliosVM
@inject LocalizationService localization
@{
    var currentLang = localization.GetCurrentLanguage();
    var pageLocalization = localization.GetPortfolioPageLocalization();

}

@section in_header{


<!-- CONTENT HEADER -->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="static-page-header">
                <div class="title-static">@pageLocalization.Header</div>
            </div>

            <div class="static-content content-over">
                <!-- SELECT CAT -->
                <div class="row">
                    <div class="dropdown-center">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                @if (Model.SelectedCategory == null)
                                {
                                    <span>@pageLocalization.AllCategories</span>
                                }
                                else
                                {
                                   <span>@Model.SelectedCategory.GetLocalizedCaption(currentLang.Id)</span>
                                }
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-action="Portfolios" asp-controller="Home" asp-route-categoryId="0">@pageLocalization.AllCategories</a></li>
                                @foreach (var item in Model.PortfolioCategories)
                                {
                                    <li><a class="dropdown-item" asp-action="Portfolios" asp-controller="Home" asp-route-categoryId="@item.Id">@item.GetLocalizedCaption(currentLang.Id)</a></li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- PORTFOLIO LINE 1 -->
                <div class="row">


                    @foreach (var item in Model.Portfolios)
                    {
                        <div class="col-md-4 mt-3" onclick="setPortfolioModalContent(@item.Id,'@currentLang.Code')">
                            <a data-bs-toggle="modal" data-bs-target="#modalportfolio-1" class="portfolio-content" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                <div class="portfolio-img" style="height: 300px;background: url('@item.Images.FirstOrDefault()?.ImgPath');background-size: 103% 102%;"></div>
                                @* <span class="newitem">@LocalizationHelper.GetLocalizedString(generalTexts.NewPortfolioLabel,currentLang.Code)</span>*@
                            </a>
                        </div>
                    }

                   
                </div>

                <!-- PAGINATION -->
                <div class="row">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">

                            @{
                                bool hasLastPageBtn = false;
                                bool wasSet = false;
                            }


                            @if(Model.CurrentPage>1)
                            {
                                <li class="page-item">
                                    <a class="page-link navi-go" asp-action="Portfolios" asp-controller="Home" asp-route-categoryId="@Model.CategoryId" asp-route-page="@(Model.CurrentPage-1)" aria-label="Previous">
                                        <i class="fa-solid fa-chevron-left"></i>
                                    </a>
                                </li>
                                <li class="page-item"><a class="page-link" asp-action="Portfolios" asp-controller="Home" asp-route-categoryId="@Model.CategoryId" asp-route-page="1">1</a></li>
                            }
                            else
                            {
                                <li class="page-item"><a class="page-link active" asp-action="Portfolios" asp-controller="Home" asp-route-categoryId="@Model.CategoryId" asp-route-page="1">1</a></li>
                            }
                           
                            @if (Model.CurrentPage - 3 > 3)
                            {
                                <li class="page-item"><a class="page-link">...</a></li>
                            }
                     
                            
                            @for(int i = Model.CurrentPage - 3; i < Model.CurrentPage; i++)
                            {
                            
                                @if (i == Model.PagesCount)
                                {
                                    hasLastPageBtn = true;
                                }
                                @if (i <= 3 && !wasSet)
                                {
                                    wasSet = true;
                                    i = 2;
                                    @if (i >= Model.CurrentPage) break;
                                }
                                <li class="page-item"><a class="page-link" asp-action="Portfolios" asp-controller="Home" asp-route-categoryId="@Model.CategoryId" asp-route-page="@i">@i</a></li>
                            }

                            @if(Model.CurrentPage > 1 && Model.CurrentPage < Model.PagesCount){
                                <li class="page-item active"><a class="page-link" href="#">@Model.CurrentPage</a></li>
                            }
                          


                            @for (int i = Model.CurrentPage + 1; i < Model.CurrentPage + 3; i++)
                            {
                                @if (i == Model.PagesCount)
                                {
                                    hasLastPageBtn = true;
                                }
                                else if (i > Model.PagesCount)
                                {
                                    break;
                                }
                                <li class="page-item"><a class="page-link" asp-action="Portfolios" asp-controller="Home" asp-route-categoryId="@Model.CategoryId" asp-route-page="@i">@i</a></li>
                                if (i + 2 == Model.PagesCount)
                                {
                                    i++;
                                    <li class="page-item"><a class="page-link" asp-action="Portfolios" asp-controller="Home" asp-route-categoryId="@Model.CategoryId" asp-route-page="@i">@i</a></li>
                                    break;
                                }
                            }

                            @if (Model.CurrentPage + 3 < Model.PagesCount - 1)
                            {
                                <li class="page-item"><a class="page-link">...</a></li>
                            }

                            @if (!hasLastPageBtn)
                            {
                                <li class="page-item"><a class="page-link" asp-action="Portfolios" asp-controller="Home" asp-route-categoryId="@Model.CategoryId" asp-route-page="@Model.PagesCount">@Model.PagesCount</a></li>
                            }



                            @if(Model.CurrentPage < Model.PagesCount && Model.PagesCount > 0)
                            {
                                <li class="page-item">
                                    <a class="page-link navi-go" asp-action="Portfolios" asp-controller="Home" asp-route-categoryId="@Model.CategoryId" asp-route-page="@(Model.CurrentPage+1)" aria-label="Next">
                                        <i class="fa-solid fa-chevron-right"></i>
                                    </a>
                                </li>
                            }


                        </ul>
                    </nav>
                </div>

                <!-- BTN -->
                <div class="content-center-btn">
                    <a href="/" class="clickform">оставить заявку</a>
                </div>
            </div>
        </div>
    </div>
</div>

}

<!-- SECTION: Maps -->
@await Component.InvokeAsync("MapBlockComponent")



