@using Alfateam.Database.Models
@{
    Layout = "_AdminLayoutV2";
}
@model List<CallRequest>

<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Заказы звонков
        </h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="table-responsive">
            <table class="table table-hover" id="tablemanager">
                <thead class="tableheader">
                    <tr>
                        <th>Id</th>
                        <th>Имя</th>
                        <th>Телефон</th>
                        <th>Дата</th>
                        <th>Контакты</th>
                    </tr>
                </thead>
                <tbody>
                   @foreach (var item in Model)
                   {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.Name</td>
                            <td>@item.Phone</td>
                            <td>@item.CreatedAt.ToString("dd.MM.yyyy HH:mm")</td>
                            <td><a asp-action="HandleCallRequest" asp-controller="Orders" asp-route-id="@item.Id">Обработать</a></td>
                        </tr>
                   }
                </tbody>
            </table>

            <script>
                $(document).ready(function () {
                    $('#tablemanager').DataTable();
                });
            </script>

        </div>
    </div>
</div>
<!-- /.row -->
