@using Alfateam.Database.Models
@using Alfateam.ViewModels.Admin
@using CRMWeb.Helpers.Html
@{
    Layout = "_AdminLayoutV2";
}
@model PortfoliosVM

<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Редактирование портфолио
        </h1>
    </div>
</div>
<!-- /.row -->

<div class="row">
    <div class="col-lg-12">

        <form asp-action="UpdatePortfolioPOST" asp-controller="Portfolios" onsubmit="onSubmit(event)" method="post" enctype="multipart/form-data" id="form" role="form">

            <input type="hidden" asp-for="NewPortfolio.Id" value="@Model.NewPortfolio.Id" />
            <input type="hidden" asp-for="NewPortfolio.CreatedAt" value="@Model.NewPortfolio.CreatedAt.ToString("yyyy-MM-ddTHH:mm")" />

            <div class="form-group">
                <label>Название</label>
                <input class="form-control" name="NewPortfolio.Caption" value="@Model.NewPortfolio.Caption" required placeholder="">
            </div>

            <div class="form-group">
                <label>Ссылка</label>
                <input class="form-control" name="NewPortfolio.URL" value="@Model.NewPortfolio.URL" placeholder="">
            </div>



             <div class="form-group">
                 <label>Категория</label>
                 <select class="form-control" name="NewPortfolio.CategoryId">
                     @Html.Raw(ClassesToHtmlHelper<PortfolioCategory>.Convert(Model.PortfolioCategories,Model.NewPortfolio.Category))
                 </select>
            </div>

            <div class="mb-3">
                <label for="" class="formlabel">Загрузить изображение</label>
                <div class="content-load" style="">
                    <div class="close-file" id="close_file"><i class="fa-solid fa-xmark"></i></div>
                    <label class="loadfile1" id="upload-image" for="pct" style="height: 6em;background: url('@Model.NewPortfolio.Images[0].ImgPath');background-size: cover;">
                        <div class="text-fileupload">
                            @if (string.IsNullOrEmpty(Model.NewPortfolio.Images[0].ImgPath))
                            {
                                @("Загрузите файл")
                            }
                        </div>
                    </label>
                    <input class="pctfile" type="file" name="file" id="pct">
                </div>
            </div>

            <div class="form-group">
                <label>Описание</label>
                <textarea class="form-control" name="NewPortfolio.Description" required rows="3">@Model.NewPortfolio.Description</textarea>
            </div>





            <div class="mb-3 mt-3 position-right">
                <button type="submit" class="button-classic">Сохранить</button>
            </div>

        </form>

    </div>
</div>


<script>

    async function onSubmit(event) {
        event.preventDefault();
        await cropFinal('pct', 'upload-image');
        event.target.submit();
    }

    $(document).ready(function () {
        initImageCroppie('upload-image', 'pct', 'close_file');
    });


</script>